{% extends 'products/base.html' %}
{% load static %}

{% block main %}


    <!--====== Google Font ======-->
  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

    <!--====== Vendor Css ======-->
    <link rel="stylesheet" href="{% static 'profile/vendor.css' %}">

    <!--====== Utility-Spacing ======-->
    <link rel="stylesheet" href="{% static 'profile/utility.css' %}">

    <!--====== App ======-->
    <link rel="stylesheet" href="{% static 'profile/app.css' %}">

    <!--====== Main App ======-->
    <body class="config">

      
    
          <!--====== App Content ======-->
          <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="index.html">Home</a></li>
                                    <li class="is-marked">

                                        <a href="dash-manage-order.html">My Account</a></li>
                                </ul>
                            </div>
                            <button class="logout-button btn btn--e-brand-b-2">Logout</button>
                              
                            <style>
                                    .logout-button {
                                    margin-left: auto;
                                  }           
                            </style> 
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->


            <!--====== Section 2 ======-->
            <div class="u-s-p-b-60">

                <!--====== Section Content ======-->
                <div class="section__content">
                    <div class="dash">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-12">

                                    <!--====== Dashboard Features ======-->
                                    <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                        <div class="dash__pad-1">

                                            <span class="dash__text u-s-m-b-16">Hello, John Doe</span>
                                            <ul class="dash__f-list">
                                                <li>

                                                    <a class="dash-active" href="{% url 'accounts:profile' %}">Manage My Account</a></li>
                                                <li>

                                                    <a href="{% url 'accounts:my_profile' %}">My Profile</a></li>
                                                <li>

                                                    <a href="{% url 'accounts:addressbook' %}">Address Book</a></li>
                                                <li>

                                                    <a href="{% url 'accounts:mywallet' %}">Wallet</a></li>
                                                <li>

                                                    <a href="{% url 'accounts:myorders' %}">My Orders</a></li>
                                                <li>

                                                    <a href="dash-payment-option.html">My Payment Options</a></li>
                                                <li>

                                                    <a href="{% url 'accounts:returnedorders' %}">My Returns & Cancellations</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
                                        <div class="dash__pad-1">
                                            <ul class="dash__w-list">
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-1"><i class="fas fa-cart-arrow-down"></i></span>

                                                        <span class="dash__w-text">4</span>

                                                        <span class="dash__w-name">Orders Placed</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-2"><i class="fas fa-times"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Cancel Orders</span></div>
                                                </li>
                                                <li>
                                                    <div class="dash__w-wrap">

                                                        <span class="dash__w-icon dash__w-icon-style-3"><i class="far fa-heart"></i></span>

                                                        <span class="dash__w-text">0</span>

                                                        <span class="dash__w-name">Wishlist</span></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--====== End - Dashboard Features ======-->
                                </div>
                                <div class="col-lg-9 col-md-12">
                                    <h1 class="dash__h1 u-s-m-b-30">Order Details</h1>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="dash-l-r">
                                                <div>
                                                    <div class="manage-o__text-2 u-c-secondary">Order #{{order.order_number}}</div>
                                                    <div class="manage-o__text u-c-silver">Placed on {{order.created_at}}</div>
                                                </div>
                                                <div>
                                                    <div class="manage-o__text-2 u-c-silver">Total:

                                                        <span class="manage-o__text-2 u-c-secondary"> ₹{{order.order_total}}</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                                        <div class="dash__pad-2">
                                            <div class="manage-o">
                                                <div class="manage-o__header u-s-m-b-30">
                                                    <div class="manage-o__icon"><i class="fas fa-box u-s-m-r-5"></i>

                                                        <span class="manage-o__text">Package 1</span></div>
                                                </div>
                                                <div class="dash-l-r">
                                                    {% if order.status == "Delivered" or order.status == "Cancelled" or order.status == "Returned"  %}
                                                        {% if order.status == "Delivered"%}
                                                            <div class="manage-o__text u-c-secondary">Delivered on {{order.deliverd_at}}</div>
                                                            {% if return_status %}
                                                                <button class="address-book-edit btn--e-transparent-platinum-b-2" onclick="returnorder({{order.id}})">return</button>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% elif order.status == "Return initiated" %}
                                                        <div class="manage-o__text u-c-secondary">Delivered on {{order.deliverd_at}}</div>
                                                        <button class="address-book-edit btn--e-transparent-platinum-b-2" onclick="cancelreturn({{order.id}})">Cancel Return</button>
                                                    {% else %}
                                                        <button class="address-book-edit btn--e-transparent-platinum-b-2" onclick="cancelorder({{order.id}})">Cancel</button>
                                                    {% endif %}
                                                    {% comment %} <div class="manage-o__icon"><i class="fas fa-truck u-s-m-r-5"></i>

                                                      </div> {% endcomment %}
                                                </div>
                                                {% if order.status == "Confirmed"%}
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Processing</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i ">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Shipped</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i ">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Delivered</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% elif order.status == "shipping" %}<div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Processing</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Shipped</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i ">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Delivered</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% elif order.status == "Delivered" %}
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Processing</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Shipped</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Delivered</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% elif order.status == "Return initiated" %}
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-3 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Processing</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Shipped</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Delivered</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Return initiated</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% elif order.status == "Cancelled"%}
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-12 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish" style="background-color: red;">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Cancelled</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% elif order.status == "Returned" %}
                                                <div class="manage-o__timeline">
                                                    <div class="timeline-row">
                                                        <div class="col-lg-12 u-s-m-b-30">
                                                            <div class="timeline-step">
                                                                <div class="timeline-l-i timeline-l-i--finish">

                                                                    <span class="timeline-circle"></span></div>

                                                                <span class="timeline-text">Returned</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                                {% for pro in products %}
                                                <div class="manage-o__description">
                                                    <div class="description__container">
                                                        <div class="description__img-wrap">

                                                            <img class="u-img-fluid" src="{{pro.product.product.image.url}}" alt=""></div>
                                                        <div class="description-title">{{pro.product.product.name}}</div>
                                                    </div>
                                                    <div class="description__info-wrap">
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Quantity:

                                                                <span class="manage-o__text-2 u-c-secondary">{{pro.quantity}}</span></span></div>
                                                        <div>

                                                            <span class="manage-o__text-2 u-c-silver">Total:

                                                                <span class="manage-o__text-2 u-c-secondary">{{pro.product_price}}</span></span></div>
                                                    </div>
                                                </div>
                                                <br>{% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                                                    <h2 class="dash__h2 u-s-m-b-8">{{address.first_name}} {{address.last_name}}</h2>

                                                    <span class="dash__text-2">{{address.address_line_1}} - {{address.address_line_2}} - {{address.city}}</span>

                                                    <span class="dash__text-2">{{address.phone}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
                                                <div class="dash__pad-3">
                                                    <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Subtotal</div>
                                                        <div class="manage-o__text-2 u-c-secondary">{{net}}</div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Tax</div>
                                                        <div class="manage-o__text-2 u-c-secondary">{{order.tax}}</div>
                                                    </div>
                                                    <div class="dash-l-r u-s-m-b-8">
                                                        <div class="manage-o__text-2 u-c-secondary">Total</div>
                                                        <div class="manage-o__text-2 u-c-secondary">{{order.order_total}}</div>
                                                    </div>

                                                    <span class="dash__text-2">Paid by {{order.payment.payment_method}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--====== End - Section Content ======-->
            </div>
            <!--====== End - Section 2 ======-->
        </div>
        <!--====== End - App Content ======-->


    <!--====== Google Analytics: change UA-XXXXX-Y to be your site's ID ======-->
    <script>
        window.ga = function() {
            ga.q.push(arguments)
        };
        ga.q = [];
        ga.l = +new Date;
        ga('create', 'UA-XXXXX-Y', 'auto');
        ga('send', 'pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>

    <!--====== Vendor Js ======-->
    <script src="js/vendor.js"></script>

    <!--====== jQuery Shopnav plugin ======-->
    <script src="js/jquery.shopnav.js"></script>

    <!--====== App ======-->
    <script src="js/app.js"></script>

    <!--====== Noscript ======-->
    <noscript>
        <div class="app-setting">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="app-setting__wrap">
                            <h1 class="app-setting__h1">JavaScript is disabled in your browser.</h1>

                            <span class="app-setting__text">Please enable JavaScript in your browser or upgrade to a JavaScript-capable browser.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </noscript>



</body>
{% comment %} <!-- Add an element with the onclick attribute to trigger the cancelorder() function -->
<button onclick="cancelorder()">Cancel Order</button> {% endcomment %}
<script>
    function cancelorder(id) {
      // Put your code here to handle the cancellation logic
  
      // For example, use AJAX to send a request to the server to cancel the order
      var cancelConfirmation = confirm("Are you sure you want to cancel this order?");
      if (cancelConfirmation) {
        $.ajax({
          method: "get",
          url: "/payment/cancelorder",
          data: { order_id: id },
          success: function(response) {
            if(response.canceled){
                alert('Your order has been cancelled.');
                location.reload();
            }
            else{
                alert('some thing went wrong.');
            }

          },
          error: function(xhr, status, error) {
            // Handle the error case here
            console.error("Error canceling order:", error);
          }
        });
  
        // For this example, let's just log a message to the console
        console.log("Order cancellation initiated");
      } else {
        // If the user cancels, do nothing or handle as needed
        console.log("Order cancellation canceled by the user");
      }
    }
  </script>
  <script>
    function returnorder(id) {
      // Put your code here to handle the cancellation logic
  
      // For example, use AJAX to send a request to the server to cancel the order
      var cancelConfirmation = confirm("Are you sure you want to return this order?");
      if (cancelConfirmation) {
        $.ajax({
          method: "get",
          url: "/payment/returnorder",
          data: { order_id: id },
          success: function(response) {
            if(response.return){
                alert(response.return);
                location.reload();
            }
            else{
                alert('some thing went wrong.');
            }

          },
          error: function(xhr, status, error) {
            // Handle the error case here
            console.error("Error canceling order:", error);
          }
        });
  
        // For this example, let's just log a message to the console
        console.log("Order cancellation initiated");
      } else {
        // If the user cancels, do nothing or handle as needed
        console.log("Order cancellation canceled by the user");
      }
    }
  </script>

  <script>
    function cancelreturn(id) {
      // Put your code here to handle the cancellation logic
  
      // For example, use AJAX to send a request to the server to cancel the order
      var cancelConfirmation = confirm("Are you sure you want to cancel the return of this order?");
      if (cancelConfirmation) {
        $.ajax({
          method: "get",
          url: "/payment/cancelreturn",
          data: { order_id: id },
          success: function(response) {
            if(response.return){
                alert(response.return);
                location.reload();
            }
            else{
                alert('some thing went wrong.');
            }

          },
          error: function(xhr, status, error) {
            // Handle the error case here
            console.error("Error canceling order:", error);
          }
        });
  
        // For this example, let's just log a message to the console
        console.log("Order cancellation initiated");
      } else {
        // If the user cancels, do nothing or handle as needed
        console.log("Order cancellation canceled by the user");
      }
    }
  </script>


{% endblock main %}