{% extends 'products/base.html' %}
{% load static %}

{% block main %}
<link rel="preconnect" href="https://fonts.gstatic.com">
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=YourFontFamily&display=swap');
    
    /* Additional CSS styles */
 
    .nav-link {
        color: #00000  !important ; /* Change the text color to black */
    }

    .btn{
        background-color: #000000   !important ;
    }
    .nav-pills{
        background-color: #11011;
    }
    .tab-pane{
        background-color: #11011;
    }
   
</style>

<section class="content-main">
    <div class="card mb-4">
        <div class="card-header bg-primary" style="height: 150px; background-image: url('{% static 'products/assets/images/2.jpg' %}'); background-size: cover;"></div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-xl col-lg flex-grow-0" style="flex-basis:230px">
                <div class="img-thumbnail shadow w-100 bg-white position-relative text-center" style="height:190px; width:200px; margin-top:-120px">
                    <img src="{% static 'ac_counts/gallery.png' %}" class="center-xy img-fluid" alt="">
                 
                </div>
            </div>
            <div class="col-xl col-lg">
                <h3>{{user.username}}</h3>
                <p>{{user.email}}</p>
                <p></p>
            </div>
        </div>
        <hr class="my-4">
    </div>
</div>

<div class="container">
    <div class="bg-white shadow rounded-lg d-block d-sm-flex ">
        <div class="profile-tab-nav border-right" >
           
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                    <i class="fa fa-home text-center mr-1"></i>
                    Account
                </a>
                <a class="nav-link" id="application-tab" data-toggle="pill" href="#application" role="tab" aria-controls="application" aria-selected="false">
                    <i class="fa fa-tv text-center mr-1"></i>
                    Address
                </a>
                <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
                    <i class="fa fa-key text-center mr-1"></i>
                    Password
                </a>
                <a class="nav-link" id="security-tab" data-toggle="pill" href="#security" role="tab" aria-controls="security" aria-selected="false">
                    <i class="fa fa-user text-center mr-1"></i>
                    Security
                </a>
              
                <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
                    <i class="fa fa-bell text-center mr-1"></i>
                    Help / Support
                </a>
            </div>
        </div>
        <div class="tab-content p-3 p-md-3" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                <h3 class="mb-4">Account Settings</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name</label>
                            <input type="text" class="form-control" value="Kiran">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" class="form-control" value="Acharya">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" class="form-control" value="kiranacharya287@gmail.com">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone number</label>
                            <input type="text" class="form-control" value="+91 9876543215">
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-primary">Cancel</button>
                </div>
            </div>
           
              <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
       
                <h3 class="mb-4">Password Settings</h3>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Old password</label>
                      <input type="password" class="form-control" id="oldPassword">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>New password</label>
                      <input type="password" class="form-control" id="newPassword">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Confirm new password</label>
                      <input type="password" class="form-control" id="confirmPassword">
                    </div>
                  </div>
                </div>
                <div>
                  <button class="btn btn-primary" id="updateBtn">Update</button>
                  <button class="btn btn-primary" id="cancelBtn">Cancel</button>
                </div>
       
              </div>
              <script>
                
                
            </script>
            <script>
              $(document).ready(function() {
                $('#updateBtn').click(function(e) {
                  e.preventDefault();
                  if (validatePasswords()) {
                    $('#passwordForm').submit();
                  }
                });
            
                function validatePasswords() {
                  var oldPassword = $('#oldPassword').val();
                  var newPassword = $('#newPassword').val();
                  var confirmPassword = $('#confirmPassword').val();
            
                  // Check if new password and confirm password match
                  if (newPassword !== confirmPassword) {
                    alert('New password and confirm password do not match.');
                    return false;
                  }
                  
                  // Check if the password meets the required criteria
                  var passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/;
                  if (!passwordPattern.test(newPassword)) {
                    alert('New password must contain at least 8 characters, one letter, one digit, and one symbol.');
                    return false;
                  }
                  
                  // Additional validation logic can be added here
            
                  var requestData = {
                    oldPassword: oldPassword,
                    newPassword: newPassword,
                  };
            
                  // Make the AJAX request
                  var csrfToken = Cookies.get('csrftoken');
                  var updatePasswordURL = "{% url 'accounts:update_password' user.id %}";
                  $.ajax({
                    type: 'POST',
                    url: updatePasswordURL,
                    beforeSend: function(xhr, settings) {
                      xhr.setRequestHeader('X-CSRFToken', csrfToken);
                    },
                    data: requestData,
                    success: function(response) {
                      // Handle the success response from the server
                      // You can perform any necessary actions here
                      console.log('Password update successful');
                    },
                    error: function(xhr, textStatus, error) {
                      // Handle any errors that occur during the AJAX request
                      console.log('Password update failed:', error);
                    }
                  });
                }
            
                // Event handler for cancel button click
                $('#cancelButton').click(function(e) {
                  e.preventDefault(); // Prevent the default form submission
            
                  // Clear the form or perform any necessary actions
                  $('#passwordForm')[0].reset();
                });
              });
            </script>
            
            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
                <h3 class="mb-4">Security Settings</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Two-factor auth</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="recovery">
                                <label class="form-check-label" for="recovery">
                                    Recovery
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-primary">Cancel</button>
                </div>
            </div>
            <div class="tab-pane fade" id="application" role="tabpanel" aria-labelledby="application-tab">
                <h3 class="mb-4">Address</h3>
               <style>
                .grid {
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                    gap: 24px;
                    max-width: 840px;
                    margin-inline: auto;
                  }
                  
                  .grid div {
                    aspect-ratio: 1/1;
                    overflow: auto;

                  }
                  .address-item {
                    background-color: #ffff;
                    border: 1px solid #000000;
                    border-radius: 2%;
                   
                    width: 100%;
                  }
                  
                  .address-buttons {
                    display: block;
                    justify-content: space-between;
                  }
                 
                  .browser-message {
                    background-color: rgb(230, 60, 60);
                    color: white;
                    padding: 16px;
                    font-family: system-ui;
                    font-weight: 600;
                    position: fixed;
                    top: 0;
                  }
                  .address-item {
                    line-height: 1; /* Adjust the line height to reduce the spacing between lines */
                }
                  
                   @supports(aspect-ratio: 1 / 1) {
                     .browser-message {
                        display: block;
                        position: fixed;
                     }
                    }
                    .special-item {
                        /* Add your special styles here */
                        background-color: white;
                        color: #000000;
                        border: 1px solid #ff0000  ;
                        border-radius: 2%;
                        line-height: 1; 
                    }
                 
                      
                  
               </style>
                <div>
              
                    <div class="grid">
                        {% for c in address %}
                        <div class=" p-3 {% if c.default == True %}special-item{% else %} address-item{% endif %}">

                            <p>Name: {{ c.first_name }} {{ c.last_name }}</p>
                            <p>Phone: {{ c.phone }}</p>
                            <p>Email: {{ c.email }}</p>
                            <p>Address: {{ c.address_line_1 }}, {{ c.address_line_2 }}</p>
                            <p>City: {{ c.city }}</p>
                            <p>Pin: {{ c.pincode }}</p>
                            <p>Country: {{ c.contry }}</p>

                                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{c.id}}">Edit</button>
                                <form action="{% url 'accounts:delete_address' c.id %}" method="post" class="d-inline">
                                  {% csrf_token %}
                                  <input type="hidden" name="address_id" value="{{ c.id }}">
                                  <button type="submit" class="btn btn-primary">Delete</button>
                                </form>

                        </div>
                        {% endfor %}
                    </div>
                        {% for c in address %}                       
<!-- Modal -->
<form action="{% url 'accounts:edit_address' c.id %}" method="post" >
{% csrf_token %}
<div class="modal fade" id="staticBackdrop{{c.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Edit Address</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <!-- First Name-->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="firstNameBilling" class="form-label" >First name</label>
                    <input type="text" class="form-control" id="firstNameBilling" name="first_name" placeholder="" value="{{c.first_name}}" required="">
                  </div>
                </div>
              
                <!-- Last Name-->
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="lastNameBilling" class="form-label">Last name</label>
                    <input type="text" class="form-control" id="lastNameBilling" placeholder="" name="last_name" value="{{c.last_name}}" required="">
                  </div>
                </div>
              
                <!-- Email-->
                <div class="col-12">
                  <div class="form-group">
                    <label for="Phone" class="form-label">Phone</label>
                    <input type="phone2numeric" class="form-control" id="Phone" name="phone" placeholder="+91 ***** *****" value="{{c.phone}}">
                  </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" class="form-control" id="address" name="address_line_1" value="{{c.address_line_1}}" placeholder="123 Some Street Somewhere" required="">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="address" class="form-label">Address Line Two</label>
                      <input type="text" class="form-control" name="address_line_2" id="address" placeholder="123 Some Street Somewhere" value="{{c.address_line_2}}" required="">
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="city" class="form-label">City</label>
                      <input type="text" class="form-control" name="city" id="city" placeholder="123 Some Street Somewhere" value="{{c.city}}" required="">
                    </div>
                  </div>
                
                  <!-- Country-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="country" class="form-label">Country</label>
                      <select class="form-select country-select" id="country" name="country" required="">
                        <option value=""></option>
                        {% for country in country %}
                            <option value="{{ country.id }}">{{country.name}}</option>
                        {% endfor %}
                        
                      </select>
                    </div>
                  </div>
                
                  <!-- State-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="state" class="form-label">State</label>
                      <select class="form-select state-select" name="state" id="state" required="">
                        <option value="">Please Select...</option>
                        <option>California</option>
                      </select>
                    </div>
                  </div>
                
                  <!-- Post Code-->
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="zip" class="form-label">Zip/Post Code</label>
                      <input type="text" class="form-control" name="pincode" id="zip" placeholder="" required="">
                    </div>
                  </div>
                {% if c.default == False %}
                <div class="col-md-6">
                    <br class="col-md-4 d-none d-md-block">
                    <br class="col-md-4 d-none d-md-block">
                  <div class="form-group form-check m-0">
                    <input type="checkbox" class="form-check-input" id="same-address" checked>
                    <label class="form-check-label" for="same-address">Make it Default</label>
                  </div>
                </div>
                {% endif %}

                
        
        </div>
   
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
</div>
</form>
                
           
  {% endfor %}
</div>

{% comment %} <H1>Add A Address For Fast Chechout !</H1>
{% endif %} {% endcomment %}
                    <br>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addnewaddress" onclick="fetchText()">Add New Address</button> 


{% comment %} <!-- Modal -->action="{% url 'accounts:edit_address'%}" {% endcomment %}
<form method="post" action="{% url 'accounts:add_address'%}" >
{% csrf_token %} 
  <div class="modal fade" id="addnewaddress" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Edit Address</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row">
                  <!-- First Name-->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="firstNameBilling" class="form-label" >First name</label>
                      <input type="text" class="form-control" id="firstNameBilling" name="first_name" placeholder="" value="" required="">
                    </div>
                  </div>
                
                  <!-- Last Name-->
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="lastNameBilling" class="form-label">Last name</label>
                      <input type="text" class="form-control" id="lastNameBilling" placeholder="" name="last_name" value="" required="">
                    </div>
                  </div>
                
                  <!-- Email-->
                  <div class="col-12">
                    <div class="form-group">
                      <label for="Phone" class="form-label">Phone</label>
                      <input type="phone2numeric" class="form-control" id="Phone" name="phone" placeholder="+91 ***** *****" value="">
                    </div>
                  </div>
                  <div class="col-12">
                      <div class="form-group">
                        <label for="address" class="form-label">Address</label>
                        <input type="text" class="form-control" id="address" name="address_line_1" value="" placeholder="123 Some Street Somewhere" required="">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="address" class="form-label">Address Line Two</label>
                        <input type="text" class="form-control" name="address_line_2" id="address" placeholder="123 Some Street Somewhere" value="" required="">
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" name="city" id="city" placeholder="123 Some Street Somewhere" value="" required="">
                      </div>
                    </div>
                  
                    <!-- Country-->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="country" class="form-label">Country</label>
                        <select class="form-select country-select" id="country" name="country" required="">
                          <option value=""></option>
                          {% for country in country %}
                              <option value="{{ country.id }}">{{country.name}}</option>
                          {% endfor %}
                          
                        </select>
                      </div>
                    </div>
                  
                    <!-- State-->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="state" class="form-label">State</label>
                        <select class="form-select state-select" name="state" id="state" required="">
                          <option value="">Please Select...</option>
                          <option>California</option>
                        </select>
                      </div>
                    </div>
                  
                    <!-- Post Code-->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="zip" class="form-label">Zip/Post Code</label>
                        <input type="text" class="form-control" name="pincode" id="zip" placeholder="" required="">
                      </div>
                    </div>
                  {% if c.default == False %}
                  <div class="col-md-6">
                      <br class="col-md-4 d-none d-md-block">
                      <br class="col-md-4 d-none d-md-block">
                    <div class="form-group form-check m-0">
                      <input type="checkbox" class="form-check-input" id="same-address" checked>
                      <label class="form-check-label" for="same-address">Make it Default</label>
                    </div>
                  </div>
                  {% endif %}
  
                  
          
          </div>
     
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  </form>


            </div>
            <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                <h3 class="mb-4">Help</h3>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="notification1">
                        <label class="form-check-label" for="notification1">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum accusantium accusamus, neque cupiditate
                            quis
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="notification2">
                        <label class="form-check-label" for="notification2">
                            hic nesciunt repellat perferendis voluptatum totam porro eligendi.
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="notification3">
                        <label class="form-check-label" for="notification3">
                            commodi fugiat molestiae tempora corporis. Sed dignissimos suscipit
                        </label>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary">Update</button>
                    <button class="btn btn-primary">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div> <!-- card-body.// -->
<hr class="my-4">

</div> <!-- card-body.// -->
</div> <!-- card.// -->
</section>


</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function() {
  $('.nav-link').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  });
});
</script>
<script>
  // Get all country and state select elements
  const countrySelects = document.querySelectorAll('.country-select');
  const stateSelects = document.querySelectorAll('.state-select');

  // Define the state options object
  const stateOptions = {
    {% for country in country %}
      '{{ country.id }}': [
        {% for state in country.state_set.all %}
          { value: '{{ state.id }}', label: '{{ state.name }}' },
        {% endfor %}
      ],
    {% endfor %}
  };

  // Function to populate the state select options based on the selected country
  function populateStates(countrySelect, stateSelect) {
    const selectedCountry = countrySelect.value;
    const options = stateOptions[selectedCountry] || [];

    // Clear existing options
    stateSelect.innerHTML = '';

    // Add new options
    options.forEach((option) => {
      const { value, label } = option;
      const optionElement = document.createElement('option');
      optionElement.value = value;
      optionElement.textContent = label;
      stateSelect.appendChild(optionElement);
    });
  }

  // Event listener to trigger state population on country selection change for each form instance
  countrySelects.forEach((countrySelect, index) => {
    const stateSelect = stateSelects[index];
    countrySelect.addEventListener('change', () => {
      populateStates(countrySelect, stateSelect);
    });
  });

  // Initial population for each form instance on page load
  countrySelects.forEach((countrySelect, index) => {
    const stateSelect = stateSelects[index];
    populateStates(countrySelect, stateSelect);
  });
</script>




{% endblock main %}