{% load static %}
<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/assets/images/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/assets/images/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/assets/images/favicon/favicon-16x16.png' %}">
  <link rel="mask-icon" href="{% static 'products/assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="{% static 'products/assets/css/libs.bundle.css' %}" />

  <!-- Main CSS -->
  <link rel="stylesheet" href="{% static 'products/assets/css/theme.bundle.css' %}" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>OldSkool | Bootstrap 5 HTML Template</title>

</head>
<body class="">

    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-white flex-column border-0  ">
        <div class="container-fluid">
            <div class="w-100">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
    
                    <!-- Logo-->
                    <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0 order-0" href="./index.html">
                        <div class="d-flex align-items-center">
                            <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                        </div>
                    </a>
                    <!-- / Logo-->
    
                    <!-- Navbar Icons-->
                    <ul class="list-unstyled mb-0 d-flex align-items-center order-1 order-lg-2 nav-sidelinks">
    
                        <!-- Mobile Nav Toggler-->
                        <li class="d-lg-none">
                            <span class="nav-link text-body d-flex align-items-center cursor-pointer" data-bs-toggle="collapse"
                                data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                                aria-label="Toggle navigation"><i class="ri-menu-line ri-lg me-1"></i> Menu</span>
                        </li>
                        <!-- /Mobile Nav Toggler-->
    
                        <!-- Navbar Search-->
                        <li class="d-none d-sm-block">
                            <span class="nav-link text-body search-trigger cursor-pointer">Search</span>
    
                            <!-- Search navbar overlay-->
                            <style>
                                .search-results li{
                                    font-size: 13px;
                                    padding: 10px 10px;
                                    list-style: none;
                                    border-top: 1px solid #dddd;
                                }
                            
                               
                            </style>
                            
                            <div class="navbar-search d-none">
                                <div class="input-group mb-3 h-100">
                                    <span class="input-group-text px-4 bg-transparent border-0"><i
                                            class="ri-search-line ri-lg"></i></span>
                                    <input type="text" id="search-input" class="form-control text-body bg-transparent border-0"
                                        placeholder="Enter your search terms...">
                                    <span
                                        class="input-group-text px-4 cursor-pointer disable-child-pointer close-search bg-transparent border-0"><i
                                            class="ri-close-circle-line ri-lg"></i></span>               
                                </div>
                                <div class="resultBox">
                                    <!-- here list are inserted from javascript -->
                                  </div>
                                <div class="search-results"></div>
                               
                            </div>
                            
                    
                            <!-- / Search navbar overlay-->
    
                        </li>
                        <!-- /Navbar Search-->
                        <script>
                            const searchTrigger = document.querySelector('.search-trigger');
                            const searchOverlay = document.querySelector('.search-overlay');
                            const searchInput = document.querySelector('#search-input');
                            const searchResults = document.querySelector('.search-results');
                        
                            searchTrigger.addEventListener('click', () => {
                                searchOverlay.classList.toggle('active');
                                searchInput.focus();
                            });
                        
                            searchInput.addEventListener('input', () => {
                                const query = searchInput.value.trim();
                                console.log(query);
                        
                                if (query !== '') {
                                    fetch(`/search/?q=${query}`)
                                        .then(response => response.json())
                                        .then(data => displaySearchResults(data));
                                } else {
                                    clearSearchResults();
                                }
                            });
                        
                            function displaySearchResults(data) {
                                // Clear previous search results
                                clearSearchResults();
                        
                                // Display search results
                                data.forEach(result => {
                                    const div = document.createElement('div');
                                    div.classList.add('card-img', 'position-relative');
                                    
                                    div.innerHTML = `
                                
                                    `;
                                    
                                    searchResults.appendChild(div);
                                  });
                                  
                            }
                        
                            function clearSearchResults() {
                                searchResults.innerHTML = '';
                            }
                        </script>
                        
                            
                       
    
                        <!-- Navbar Login-->
                        <li class="ms-1 d-none d-lg-inline-block">
                            <a class="nav-link text-body" href="{% url 'accounts:profile' %}">
                                Account
                            </a>
                        </li>
                        <!-- /Navbar Login-->
                        <li class="ms-1 d-none d-lg-inline-block">
                            <a class="nav-link text-body" href="./login.html">
                                wishlist
                            </a>
                        </li>
                        <!-- Navbar Cart Icon-->
                        
                        <li class="ms-1 d-inline-block position-relative dropdown-cart">
                            <button class="nav-link me-0 disable-child-pointer border-0 p-0 bg-transparent text-body" type="button">
                                Bag({{ product_data|length }})
                            </button>
                            <div class="cart-dropdown dropdown-menu">
                                <!-- Cart Header-->
                                <div class="d-flex justify-content-between align-items-center border-bottom pt-3 pb-4">
                                    <h6 class="fw-bolder m-0">Cart Summary ({{ product_data|length }})</h6>
                                    <i class="ri-close-circle-line text-muted ri-lg cursor-pointer btn-close-cart"></i>
                                </div>
                                <!-- / Cart Header-->
                                
                                <!-- Cart Items -->
                                <div>
                                    {% for item in product_data %}
                                        <!-- Cart Product -->
                                        <div class="row mx-0 py-4 g-0 border-bottom">
                                            <div class="col-2 position-relative">
                                                <picture class="d-block">
                                                    <img class="img-fluid" src="{{item.image.url}}" alt="HTML Bootstrap Template by Pixel Rocket">
                                                </picture>
                                            </div>
                                            <div class="col-9 offset-1">
                                                <div>
                                                    <h6 class="justify-content-between d-flex align-items-start mb-2">
                                                        {{ item.name}}
                                                        <i class="ri-close-line ms-3"></i>
                                                    </h6>
                                                    <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: {{item.size}} / Qty: {{item.quantity}}</span>
                                                </div>
                                                <p class="fw-bolder text-end text-muted m-0">₹ {{item.price}}</p>
                                            </div>
                                        </div>
                                        <!-- / Cart Product -->
                                    {% endfor %}
                                </div>
                                <!-- / Cart Items -->
                                
                                <!-- Cart Summary -->
                                <div>
                                    <div class="pt-3">
                                        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-md-start mb-4 mb-md-2">
                                            <div>
                                                <p class="m-0 fw-bold fs-5">Grand Total</p>
                                                <span class="text-muted small">Inc ₹ {{tax.tax}} sales tax</span>
                                            </div>
                                            <p class="m-0 fs-5 fw-bold">₹ {{tax.total}}</p>
                                        </div>
                                    </div>
                                    <a href="{% url 'store:cart' %}" class="btn btn-outline-dark w-100 text-center mt-4" role="button">View Cart</a>
                                    <a href="./checkout.html" class="btn btn-dark w-100 text-center mt-2" role="button">Proceed To Checkout</a>
                                </div>
                                <!-- / Cart Summary -->
                            </div>
                        </li>
                        
                    
    
                    
                        <!-- /Navbar Cart Icon-->
    
                    </ul>
                    <!-- Navbar Icons-->                
    
                    <!-- Main Navigation-->
                    <div class="flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1 order-2 order-lg-1"
                        id="navbarNavDropdown">
    
                        <!-- Menu-->
                        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown dropdown position-static">
                              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Cactus
                              </a>
                                <!-- Menswear dropdown menu-->
                                <div class="dropdown-menu dropdown-megamenu">
                                  <div class="container-fluid">
                                      <div class="row g-0 g-lg-3">
                                          <!-- Menswear Dropdown Menu Links Section-->
                                          <div class="col col-lg-8 py-lg-5">
                                              <div class="row py-3 py-lg-0 flex-wrap gx-4 gy-6">
                                                  <!-- menu row-->
                                                  <div class="col">
                                                      <h6 class="dropdown-heading">Categories</h6>
                                                      <ul class="list-unstyled">
                                                       {% for category in categories %}
                                                       <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">{{category.category_name}}</a></li>
                                                       {% endfor %}
                                                      </ul>
                                                  </div>
                                                  <!-- / menu row-->
                                              
                                                  <!-- menu row-->
                                                  <div class="col">
                                                      <h6 class="dropdown-heading">Collections</h6>
                                                      <ul class="list-unstyled">
                                                        {% for tag in tags %}
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">{{tag.tag_name}}</a></li>
                                                          {% endfor %}
                                                        </ul>
                                                  </div>
                                                  <!-- / menu row-->
                                              
                                                  <!-- menu row-->
                                                  <div class="d-none d-xxl-block col">
                                                      <h6 class="dropdown-heading">Pots</h6>
                                                      <ul class="list-unstyled">
                                                          {% comment %} <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Lifestyle & Casual</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Walking Shoes</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Running Shoes</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Military Boots</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Fabric Walking Boots</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Leather Walking Boots</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Wellies</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item" href="./category.html">Winter Footwear</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item dropdown-link-all" href="./category.html">View All</a></li> {% endcomment %}
                                                      </ul>
                                                  </div>
                                                  <!-- / menu row-->  
                                                  
                                                  <!-- menu row-->
                                                  <div class="col">
                                                      <h6 class="dropdown-heading text-danger">Special Offers</h6>
                                                      <ul class="list-unstyled">
                                                         {% for cat in Categories %}
                                                         <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">cat.Category_name</a></li>
                                                         {% endfor %}
                                                          {% comment %} <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">Bodywarmers</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">Parkas</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">Baselayers & Thermals</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">Winter Hats</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">Scarves & Neck</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">Gloves & Mitts</a></li>
                                                          <li class="dropdown-list-item"><a class="dropdown-item text-danger" href="./category.html">Accessories</a></li> {% endcomment %}
                                                          <li class="dropdown-list-item"><a class="dropdown-item text-danger dropdown-link-all" href="./category.html">View All</a></li>
                                                      </ul>
                                                  </div>
                                                  <!-- / menu row-->      
                                              </div>
                                              
                                              {% comment %} <div class="align-items-center justify-content-between mt-5 d-none d-lg-flex">
                                                  <div class="me-5 f-w-20">
                                                      <a class="d-block" href="./category.html">
                                                          <picture>
                                                              <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-1.svg" alt="">
                                                          </picture>
                                                      </a>
                                                  </div>
                                                  <div class="me-5 f-w-20">
                                                      <a class="d-block" href="./category.html">
                                                          <picture>
                                                              <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-2.svg" alt="">
                                                          </picture>
                                                      </a>
                                                  </div>
                                                  <div class="me-5 f-w-20">
                                                      <a class="d-block" href="./category.html">
                                                          <picture>
                                                              <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-3.svg" alt="">
                                                          </picture>
                                                      </a>
                                                  </div>
                                                  <div class="me-5 f-w-20">
                                                      <a class="d-block" href="./category.html">
                                                          <picture>
                                                              <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-4.svg" alt="">
                                                          </picture>
                                                      </a>
                                                  </div>
                                                  <div class="me-5 f-w-20">
                                                      <a class="d-block" href="./category.html">
                                                          <picture>
                                                              <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-5.svg" alt="">
                                                          </picture>
                                                      </a>
                                                  </div>
                                                  <div class="me-5 f-w-20">
                                                      <a class="d-block" href="./category.html">
                                                          <picture>
                                                              <img class="img-fluid d-table mx-auto" src="./assets/images/logos/logo-6.svg" alt="">
                                                          </picture>
                                                      </a>
                                                  </div>
                                              </div>                  </div>
                                          <!-- /Menswear Dropdown Menu Links Section-->
                        
                                          <!-- Menswear Dropdown Menu Images Section-->
                                          <div class="col-lg-4 d-none d-lg-block">
                                              <div class="vw-50 border-start h-100 position-absolute"></div>
                                              <div class="py-lg-5 position-relative z-index-10 px-lg-4">
                                                  <div class="row g-4">
                                                      <div class="col-12 col-md-6">
                                                          <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                              <picture class="w-100 d-block mb-2 mx-auto">
                                                                  <img class="w-100 rounded" title="" src="./assets/images/banners/banner-12.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                                                              </picture>
                                                              <a class="fw-bolder link-cover" href="./category.html">Latest Arrivals</a>
                                                          </div>
                                                      </div>
                                                      <div class="col-12 col-md-6">
                                                          <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                              <picture class="w-100 d-block mb-2 mx-auto">
                                                                  <img class="w-100 rounded" title="" src="./assets/images/banners/banner-13.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                                                              </picture>
                                                              <a class="fw-bolder link-cover" href="./category.html">Accessories</a>
                                                          </div>
                                                      </div>
                                                      <div class="col-12 col-md-6">
                                                          <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                              <picture class="w-100 d-block mb-2 mx-auto">
                                                                  <img class="w-100 rounded" title="" src="./assets/images/banners/banner-14.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                                                              </picture>
                                                              <a class="fw-bolder link-cover" href="./category.html">T-Shirts</a>
                                                          </div>
                                                      </div>
                                                      <div class="col-12 col-md-6">
                                                          <div class="card justify-content-center d-flex align-items-center bg-transparent">
                                                              <picture class="w-100 d-block mb-2 mx-auto">
                                                                  <img class="w-100 rounded" title="" src="./assets/images/banners/banner-15.jpg" alt="HTML Bootstrap Template by Pixel Rocket">
                                                              </picture>
                                                              <a class="fw-bolder link-cover" href="./category.html">Jackets</a>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <a href="./category.html" class="btn btn-link p-0 fw-bolder text-link-border mt-5 text-dark mx-auto d-table">Visit Mens Section</a>
                                              </div> {% endcomment %}
                                          </div>
                                          <!-- Menswear Dropdown Menu Images Section-->
                                      </div>
                                  </div>
                              </div>
                              <!-- / Menswear dropdown menu-->
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Categories
                                </a>
                                <ul class="dropdown-menu">
                                    {% for cat in categories  %}
                                  <li><a class="dropdown-item" href="./category.html">{{cat.category_name}}</a></li>
                                  {% endfor %}
                                 
                                </ul>
                              </li>
                               <li class="nav-item">
                                <a class="nav-link" href=" {% url 'store:allproducts' %}" role="button">
                                  All Products
                                </a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="./category.html" role="button">
                                  Sale
                                </a>
                              </li>
                              {% comment %}
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Pages
                                </a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="./index.html">Homepage</a></li>
                                  <li><a class="dropdown-item" href="./category.html">Category</a></li>
                                  <li><a class="dropdown-item" href="./product.html">Product</a></li>
                                  <li><a class="dropdown-item" href="./cart.html">Cart</a></li>
                                  <li><a class="dropdown-item" href="./checkout.html">Checkout</a></li>
                                  <li><a class="dropdown-item" href="./login.html">Login</a></li>
                                  <li><a class="dropdown-item" href="./register.html">Register</a></li>
                                  <li><a class="dropdown-item" href="./forgotten-password.html">Forgotten Password</a></li>
                                </ul>
                              </li> {% endcomment %}
                          </ul>                    <!-- / Menu-->
    
                    </div>
                    <!-- / Main Navigation-->
    
                </div>
            </div>
        </div>
    </nav>
    <!-- / Navbar-->    <!-- / Navbar-->

    {% block main %}{% endblock main %}

    <!-- Footer -->
    <footer class="border-top py-5 mt-4  ">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center flex-column flex-lg-row">
                <div>
                    <ul class="list-unstyled">
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-instagram-fill"></i></a></li>
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-facebook-fill"></i></a></li>
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-twitter-fill"></i></a></li>
                        <li class="d-inline-block me-1"><a class="text-decoration-none text-dark-hover transition-all"
                                href="#"><i class="ri-snapchat-fill"></i></a></li>
                    </ul>
                </div>
                <div class="d-flex align-items-center justify-content-end flex-column flex-lg-row">
                    <p class="small m-0 text-center text-lg-start">&copy; 2021 OldSkool All Rights Reserved. Template by <a
                            href="https://www.pixelrocket.store">Pixel Rocket</a></p>
                    <ul class="list-unstyled mb-0 ms-lg-4 mt-3 mt-lg-0 d-flex justify-content-end align-items-center">
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center me-2">
                            <i class="pi pi-sm pi-paypal"></i></li>
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center me-2">
                            <i class="pi pi-sm pi-mastercard"></i></li>
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center me-2">
                            <i class="pi pi-sm pi-american-express"></i></li>
                        <li class="bg-light p-2 d-flex align-items-center justify-content-center"><i
                                class="pi pi-sm pi-visa"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>    <!-- / Footer--> 


    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="{% static 'products/assets/js/vendor.bundle.js' %}"></script>
    
    <!-- Theme JS -->
    <script src="{% static 'products/assets/js/theme.bundle.js' %}"></script>
</body>

</html>