{% load static %}
<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">
 <!-- Favicon -->
 <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/assets/images/favicon/apple-touch-icon.png' %}">
 <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/assets/images/favicon/favicon-32x32.png' %}">
 <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/assets/images/favicon/favicon-16x16.png' %}">
 <link rel="mask-icon" href="{% static 'products/assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
 <meta name="msapplication-TileColor" content="#da532c">
 <meta name="theme-color" content="#ffffff">

 <!-- Vendor CSS -->
 <link rel="stylesheet" href="{% static 'products/assets/css/libs.bundle.css' %}" />

 <!-- Main CSS -->
 <link rel="stylesheet" href="{% static 'products/assets/css/theme.bundle.css' %}" />

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>OldSkool | Bootstrap 5 HTML Template</title>

</head>
<body class="">

    <!-- Main Section-->
    <section class="mt-0  vh-lg-100">
        <!-- Page Content Goes Here -->
        <div class="container">
            <div class="row g-0 vh-lg-100">
                <div class="col-lg-7 pt-5 pt-lg-10">
                    <div class="pe-lg-5">
                        <!-- Logo-->
                        <a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="./index.html">
                                <div class="d-flex align-items-center">
                                    <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                                </div>
                            </a>
                        <!-- / Logo-->
                        <nav class="d-none d-md-block">
                            <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="./cart.html">Your Cart</a></li>
                                <li class="me-4"><a class="nav-link-checkout active"
                                        href="./checkout.html">Information</a></li>
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="./checkout-shipping.html">Shipping</a></li>
                                <li><a class="nav-link-checkout nav-link-last "
                                        href="./checkout-payment.html">Payment</a></li>
                            </ul>
                        </nav>                        
                        {% if address %}
                        <div class="mt-5">
                            <h3 class="fs-5 mt-5 fw-bolder mb-4 border-bottom pb-4">Select Shipping Address <span><a href="#createaddress"><u>  Or Create New</u></a></span></h3>
                            <!-- Checkout Panel Information-->
                          
                            <div class="row">
                              <!-- saved addresses-->

                              {% for add in address %}
                              <form method="post" action="{% url 'store:payment_with_existing_address'%}">
                                {% csrf_token %}
                              <div class="form-check form-group form-check-custom form-radio-custom form-radio-highlight mb-3">
                                <input class="form-check-input"  name="checkoutShippingMethod" id="checkoutShippingMethod{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>
                                <label class="form-check-label" for="checkoutShippingMethod{{ forloop.counter }}">
                                  <span class="d-flex justify-content-between align-items-start">
                                    <span>
                                      <span class="mb-0 fw-bolder d-block">{{ add.first_name }} {{ add.last_name }}</span>
                                      <span class="small fw-bolder text-uppercase" >{{ add.phone }}</span><br>
                                      <span class="small fw-bolder text-uppercase">{{ add.address_line_1 }}, {{ add.address_line_2 }}</span><br>
                                      <span class="small fw-bolder text-uppercase">{{ add.city }}  {{ add.state }}</span><br>
                                      <span class="fw-bolder">pin: {{ add.pincode }}, {{ add.country }}</span> 
                                      <input type="hidden" name="add_id" value="{{add.id}}">
                                    </span>
                                    <style>
                                      .custom-button {
                                        border: 1px solid black;
                                        background-color: transparent;
                                        color: black;
                                        transition: background-color 0.3s, color 0.3s;
                                      }
                                    
                                      .custom-button:hover {
                                        background-color: black;
                                        color: #ffff;
                                      }
                                    </style>
                                    
                                    <button class="btn w-100 w-md-auto custom-button">select</button>

                                  </span>
                                </label>
                              </div>
                            </form>
                            {% endfor %} 
                            </div>
                          
                        {% endif %}
                            
                            <h3 class="fs-5 mt-5  fw-bolder mb-4 border-bottom pb-4" id="createaddress">Create Shipping Address</h3>
                           <form action="{% url 'store:payment_with_new_address' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                              <!-- First Name-->
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="firstNameBilling" class="form-label" >First name</label>
                                  <input type="text" class="form-control" id="firstNameBilling" name="first_name" placeholder="" value="" required="">
                                </div>
                              </div>
                            
                              <!-- Last Name-->
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label for="lastNameBilling" class="form-label">Last name</label>
                                  <input type="text" class="form-control" id="lastNameBilling" placeholder="" name="last_name" value="" required="">
                                </div>
                              </div>
                            
                              <!-- Email-->
                              <div class="col-12">
                                <div class="form-group">
                                  <label for="Phone" class="form-label">Phone</label>
                                  <input type="phone2numeric" class="form-control" id="Phone" name="phone" value="+91 ">
                                </div>
                              </div>
                              <div class="col-12">
                                  <div class="form-group">
                                    <label for="address" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="address" name="address_line_1" value="" placeholder="123 Some Street Somewhere" required="">
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <label for="address" class="form-label">Address Line Two</label>
                                    <input type="text" class="form-control" name="address_line_2" id="address" placeholder="123 Some Street Somewhere" value="" required="">
                                  </div>
                                </div>
                                <div class="col-12">
                                  <div class="form-group">
                                    <label for="city" class="form-label">City</label>
                                    <input type="text" class="form-control" name="city" id="city" placeholder="123 Some Street Somewhere" value="" required="">
                                  </div>
                                </div>
                              
                                <!-- Country-->
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="country" class="form-label">Country</label>
                                    <select class="form-select country-select" id="country" name="country" required="">
                                      <option value=""></option>
                                      {% for country in country %}
                                          <option value="{{ country.id }}">{{country.name}}</option>
                                      {% endfor %}
                                      
                                    </select>
                                  </div>
                                </div>
                              
                                <!-- State-->
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="state" class="form-label">State</label>
                                    <select class="form-select state-select" name="state" id="state" required="">
                                      <option value="">Please Select...</option>
                                      <option>California</option>
                                    </select>
                                  </div>
                                </div>
                              
                                <!-- Post Code-->
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="zip" class="form-label">Zip/Post Code</label>
                                    <input type="text" class="form-control" name="pincode" id="zip" placeholder="" required="">
                                  </div>
                                </div>
                              <div class="col-md-6">
                                  <br class="col-md-4 d-none d-md-block">
                                  <br class="col-md-4 d-none d-md-block">
                                <div class="form-group form-check m-0">
                                  <input type="checkbox" class="form-check-input" id="same-address" checked>
                                  <label class="form-check-label" for="same-address">Make it Default</label>
                                </div>
                              </div>
                               
                            <div class="pt-5 mt-5 pb-5 border-top d-flex justify-content-md-end align-items-center">
                              <button class="btn btn-dark w-100 w-md-auto" type="submit">Proceed to Payment</button>
                              
                            </div> 
                      </div>
                            <!-- / Billing Address-->
                                                  </div>
                           </form>
                    </div>
                </div>
                <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                    <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                        <div class="pb-3">
                           {% for data in  product_data%}
                            <!-- Cart Item-->
                            <div class="row mx-0 py-4 g-0 border-bottom">
                                <div class="col-2 position-relative">
                                        <span class="checkout-item-qty">{{data.quantity}}</span>
                                    <picture class="d-block border">
                                        <img class="img-fluid" src="{{data.image.url}}" alt="HTML Bootstrap Template by Pixel Rocket">
                                    </picture>
                                </div>
                                <div class="col-9 offset-1">
                                    <div>
                                        <h6 class="justify-content-between d-flex align-items-start mb-2">
                                            {{data.name}}
                                            <i class="ri-close-line ms-3"></i>
                                        </h6>
                                        <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: {{data.size}} / Qty: {{data.quantity}}</span>
                                    </div>
                                    <p class="fw-bolder text-end text-muted m-0">₹{{data.price}} X {{ data.quantity }} = {{ data.total_price }} </p>
                                </div>
                            </div>  
                            <!-- / Cart Item-->{% endfor %}

                        </div>
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <p class="m-0 fw-bolder fs-6">Subtotal</p>
                                <p class="m-0 fs-6 fw-bolder">$422.99</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center ">
                                <p class="m-0 fw-bolder fs-6">Shipping</p>
                                <p class="m-0 fs-6 fw-bolder">$8.95</p>
                            </div>
                        </div>
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="m-0 fw-bold fs-5">Grand Total</p>
                                    <span class="text-muted small">Inc $45.89 sales tax</span>
                                </div>
                                <p class="m-0 fs-5 fw-bold">$422.99</p>
                            </div>
                        </div>
                        <div class="py-4">
                            <div class="input-group mb-0">
                                <input type="text" class="form-control" placeholder="Enter your coupon code">
                                <button class="btn btn-dark btn-sm px-4">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->


    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  // Event listener for radio button selection
  $('input[name="checkoutShippingMethod"]').on('change', function() {
    var selectedAddId = $(this).siblings('.selected-add-id').val();  // Get the value of the hidden input field within the selected radio button's parent div
  });
});
</script>

<script>
  const countrySelects = document.querySelectorAll('.country-select');
  const stateSelects = document.querySelectorAll('.state-select');
  const stateOptions = {
    {% for country in country %}
      '{{ country.id }}': [
        {% for state in country.state_set.all %}
          { value: '{{ state.id }}', label: '{{ state.name }}' },
        {% endfor %}
      ],
    {% endfor %}
  };

  // Function to populate the state select options based on the selected country
  function populateStates(countrySelect, stateSelect) {
    const selectedCountry = countrySelect.value;
    const options = stateOptions[selectedCountry] || [];

    // Clear existing options
    stateSelect.innerHTML = '';

    // Add new options
    options.forEach((option) => {
      const { value, label } = option;
      const optionElement = document.createElement('option');
      optionElement.value = value;
      optionElement.textContent = label;
      stateSelect.appendChild(optionElement);
    });
  }

  // Event listener to trigger state population on country selection change for each form instance
  countrySelects.forEach((countrySelect, index) => {
    const stateSelect = stateSelects[index];
    countrySelect.addEventListener('change', () => {
      populateStates(countrySelect, stateSelect);
    });
  });

  // Initial population for each form instance on page load
  countrySelects.forEach((countrySelect, index) => {
    const stateSelect = stateSelects[index];
    populateStates(countrySelect, stateSelect);
  });
</script>



</body>

</html>