{% load static %}
<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">
 <!-- Favicon -->
 <link rel="apple-touch-icon" sizes="180x180" href="{% static 'products/assets/images/favicon/apple-touch-icon.png' %}">
 <link rel="icon" type="image/png" sizes="32x32" href="{% static 'products/assets/images/favicon/favicon-32x32.png' %}">
 <link rel="icon" type="image/png" sizes="16x16" href="{% static 'products/assets/images/favicon/favicon-16x16.png' %}">
 <link rel="mask-icon" href="{% static 'products/assets/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
 <meta name="msapplication-TileColor" content="#da532c">
 <meta name="theme-color" content="#ffffff">

 <!-- Vendor CSS -->
 <link rel="stylesheet" href="{% static 'products/assets/css/libs.bundle.css' %}" />

 <!-- Main CSS -->
 <link rel="stylesheet" href="{% static 'products/assets/css/theme.bundle.css' %}" />

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
 <script src="https://kit.fontawesome.com/0a4a475baf.js" crossorigin="anonymous"></script>
  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>OldSkool | Bootstrap 5 HTML Template</title>

</head>
<body class="">

    <!-- Main Section-->
    <section class="mt-0  vh-lg-100">
        <!-- Page Content Goes Here -->
        <div class="container">
            <div class="row g-0 vh-lg-100">
                <div class="col-lg-7 pt-5 pt-lg-10">
                    <div class="pe-lg-5">
                        <!-- Logo-->
                        <a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="./index.html">
                                <div class="d-flex align-items-center">
                                    <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                                </div>
                            </a>
                        <!-- / Logo-->
                        <nav class="d-none d-md-block">
                            <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="./cart.html">Your Cart</a></li>
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="./checkout.html">Information</a></li>
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="./checkout-shipping.html">Shipping</a></li>
                                <li><a class="nav-link-checkout nav-link-last active"
                                        href="./checkout-payment.html">Payment</a></li>
                            </ul>
                        </nav>                        <div class="mt-5">
                            <!-- Checkout Information Summary -->
                            <ul class="list-group mb-5 d-none d-lg-block rounded-0">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <span class="text-muted small me-2 f-w-36 fw-bolder">Contact</span>
                                        <span class="small">{{address.first_name}}  {{address.last_name}}</span>
                                    </div>
                                    <a href="{% url 'store:checkout' %}" class="text-muted small" role="button">Change</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <span class="text-muted small me-2 f-w-36 fw-bolder">Deliver To</span>
                                        <span class="small">{{address.address_line_1}}</span>
                                    </div>
                                    <a href="{% url 'store:checkout' %}" class="text-muted small" role="button">Change</a>
                                </li>
                                {% comment %} <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <span class="text-muted small me-2 f-w-36 fw-bolder">Method</span>
                                        <span class="small">UPS Priority Delivery</span>
                                    </div>
                                    <a href="./checkout-shipping.html" class="text-muted small" role="button">Change</a>
                                </li> {% endcomment %}
                            </ul><!-- / Checkout Information Summary-->
                            
                            <!-- Checkout Panel Information-->
                            <h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Payment Information</h3>
                            
                            <div class="row">
                            
                              <!-- Payment Option-->
                              <div class="col-12">
                                <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                  <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentStripe" checked>
                                  <label class="form-check-label" for="checkoutPaymentStripe">
                                    <span class="d-flex justify-content-between align-items-start">
                                      <span>
                                        <span class="mb-0 fw-bolder d-block">Credit Card (Stripe)</span>
                                      </span>
                                      <i class="ri-bank-card-line"></i>
                                    </span>
                                  </label>
                                </div>
                              </div>

                               <!-- Payment Option-->
                               <div class="col-12">
                                <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                  <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentcod" >
                                  <label class="form-check-label" for="checkoutPaymentcod">
                                    <span class="d-flex justify-content-between align-items-start">
                                      <span>
                                        <span class="mb-0 fw-bolder d-block">Cash On Delivery</span>
                                      </span>
                                      
                                      <i class="fas fa-dollar-sign"></i>


                                    </span>
                                  </label>
                                </div>
                              </div>
                            
                              <!-- Payment Option-->
                              <div class="col-12">
                                <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                  <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentPaypal">
                                  <label class="form-check-label" for="checkoutPaymentPaypal">
                                    <span class="d-flex justify-content-between align-items-start">
                                      <span>
                                        <span class="mb-0 fw-bolder d-block">Pay Online</span>
                                      </span>
                                      <i class="ri-paypal-line"></i>
                                    </span>
                                  </label>
                                </div>
                              </div>
                            
                            </div>
                            
                            <!-- Payment Details-->
                            <div class="card-details">
                              <div class="row pt-3">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cc-name" class="form-label">Name on card</label>
                                    <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                                    <small class="text-muted">Full name as displayed on card</small>
                                  </div>
                                </div>
                            
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cc-number" class="form-label">Credit card number</label>
                                    <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                                  </div>
                                </div>
                            
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="cc-expiration" class="form-label">Expiration</label>
                                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                                  </div>
                                </div>
                            
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <div class="d-flex">
                                      <label for="cc-cvv" class="form-label d-flex w-100 justify-content-between align-items-center">Security Code</label>
                                      <button type="button" class="btn btn-link p-0 fw-bolder fs-xs text-nowrap" data-bs-toggle="tooltip"
                                              data-bs-placement="top"
                                              title="A CVV is a number on your credit card or debit card that's in addition to your credit card number and expiration date">
                                        What's this?
                                      </button>
                                    </div>
                                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- / Payment Details-->

                            <!-- Cash On Delivery Details -->
                            <div class="cod-details">
                              <div class="row pt-3">
                                <div class="col-md-12">
                                  <div class="form-group">
                                    <label for="cod-name" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="cod-name" placeholder="" required="">
                                  </div>
                                </div>
                                <!-- Add more fields specific to Cash On Delivery if needed -->
                                {% comment %} <div id="my_captcha"></div> {% endcomment %}
                               
                              </div>
                            </div>
                            <!-- / Cash On Delivery Details -->
                            
                            <!-- Paypal Info-->
                            <div class="paypal-details bg-light p-4 d-none my-3 fw-bolder">
                              Please click on complete order. You will then be transferred to Paypal to enter your payment details.
                            </div>
                            <!-- /Paypal Info-->
                            
                            <!-- Accept Terms Checkbox-->
                            <div class="form-group form-check m-0">
                              <input type="checkbox" class="form-check-input" id="accept-terms" checked>
                              <label class="form-check-label fw-bolder" for="accept-terms">I agree to OldSkool's <a href="#">terms &
                                  conditions</a></label>
                            </div>
                            
                            <div class="pt-5 mt-5 pb-5 border-top d-flex flex-column flex-md-row justify-content-between align-items-center">
                              <a href="./checkout-shipping.html" class="btn ps-md-0 btn-link fw-bolder w-100 w-md-auto mb-2 mb-md-0" role="button">Back to
                                shipping</a>
                              <a href="#" class="btn btn-dark w-100 w-md-auto d-none" id="completeOrderBtnstripe" role="button">Complete Order</a>
                              <a href="#" class="btn btn-dark w-100 w-md-auto d-none" id="completeOrderBtncod" role="button">Complete Order</a>
                              <a href="#" class="btn btn-dark w-100 w-md-auto d-none" id="rzp-button1" role="button">Complete Order</a>
                            </div>
                         
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                  <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                      <div class="pb-3">
                         {% for data in  product_data%}
                          <!-- Cart Item-->
                          <div class="row mx-0 py-4 g-0 border-bottom">
                              <div class="col-2 position-relative">
                                      <span class="checkout-item-qty">{{data.quantity}}</span>
                                  <picture class="d-block border">
                                      <img class="img-fluid" src="{{data.image.url}}" alt="HTML Bootstrap Template by Pixel Rocket">
                                  </picture>
                              </div>
                              <div class="col-9 offset-1">
                                  <div>
                                      <h6 class="justify-content-between d-flex align-items-start mb-2">
                                          {{data.name}}
                                          <i class="ri-close-line ms-3"></i>
                                      </h6>
                                      <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: {{data.size}} / Qty: {{data.quantity}}</span>
                                  </div>
                                  <p class="fw-bolder text-end text-muted m-0">₹{{data.price}} X {{ data.quantity }} = ₹{{ data.total_price }} </p>
                              </div>
                          </div>  
                          <!-- / Cart Item-->{% endfor %}

                      </div>
                      <div class="py-4 border-bottom">
                          <div class="d-flex justify-content-between align-items-center mb-2">
                              <p class="m-0 fw-bolder fs-6">Subtotal</p>
                              <p class="m-0 fs-6 fw-bolder">₹{{tax.net}}</p>
                          </div>
                          <div class="d-flex justify-content-between align-items-center ">
                            <p class="m-0 fw-bolder fs-6">Tax</p>
                            <p class="m-0 fs-6 fw-bolder">₹{{tax.tax}}</p>
                        </div>
                        <div  class="d-flex justify-content-between align-items-center d-none" id="spikediv">
                          <p class="m-0 fw-bolder fs-6">Spikes Discount <img width="20" height="20" src="https://img.icons8.com/water-color/50/western.png" alt="western"/></p>
                          <p class="m-0 fs-6 fw-bolder" id="spikesreduction">- ₹{{wallet.balance}}</p>
                        </div>
                        <div hidden class="d-flex justify-content-between align-items-center d-none " id="copdiv">
                          <p class="m-0 fw-bolder fs-6">Coupon discount</p>
                          <p class="m-0 fs-6 fw-bolder">- ₹<span id="couponreduction"></span></p>
                        </div>
                      </div>
                      <br>
                      {% if wallet.balance > 0 %}
                      <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                          <input class="form-check-input" type="checkbox" name="spikes" id="spikes" onclick="updateGrandTotal()">
                          <label class="form-check-label" for="spikes">
                              <span class="d-flex justify-content-between align-items-start">
                                  <span>
                                      <span class="mb-0 fw-bolder d-block">Use Spikes  <img width="20" height="20" src="https://img.icons8.com/water-color/50/western.png" alt="western"/>  you have {{wallet.balance}} spikes remaining</span>
                                  </span>
                              </span>
                          </label>
                      </div>
                      {% else %}
                      <div class="form-check form-group form-check-custom form-radio-custom mb-3" hidden>
                        <input class="form-check-input" type="checkbox" name="spikes" id="spikes" onclick="updateGrandTotal()">
                        <label class="form-check-label" for="spikes">
                            <span class="d-flex justify-content-between align-items-start">
                                <span>
                                    <span class="mb-0 fw-bolder d-block">Use Spikes  <img width="20" height="20" src="https://img.icons8.com/water-color/50/western.png" alt="western"/>  you have {{wallet.balance}} spikes remaining</span>
                                </span>
                            </span>
                        </label>
                    </div>
                      {% endif %}

                      <div class="py-4 border-bottom">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="m-0 fw-bold fs-5">Grand Total</p>
                            </div>
                            <p class="m-0 fs-5 fw-bold" id="grand-total">₹{{ tax.total }}</p>
                        </div>
                    </div>
                    
                    <div class="py-4">
                      <div class="input-group mb-0">
                          <input type="text" class="form-control" value="" id="coupon-input" placeholder="Enter your coupon code">
                          <button class="btn btn-dark btn-sm px-4" id="apply-coupon-btn">Apply</button>
                          <button class="btn btn-danger btn-sm px-1" id="clear-coupon-btn">Clear Coupon</button>
                          <input type="hidden" name="cop" id="couponcode">
                      </div>
                  </div>
                  <p hidden id="cop_info"></p>
                  </div>
              </div>
            </div>
        </div>
        <!-- /Page Content -->
 <!-- /Page Content -->
<script>
  var couponApplied = false;
  var discount = 0
  $(document).ready(function() {
    var originalTotal; // Variable to store the original total before applying any coupons
    // Variable to keep track of whether the coupon has been applied or not

    // Save the original total
    originalTotal = {{tax.total}};

    // Attach click event to the "Apply" button
    $("#apply-coupon-btn").on("click", function() {
      // Get the entered coupon code
      var couponCode = $("#coupon-input").val();
      var grandTotalElement = document.getElementById('grand-total');
      var originaltotal = originalTotal;

      // Make the AJAX request with the coupon code and the grand total
      $.ajax({
        method: "get",
        url: "/apply_coupon",
        data: {
          coupon: couponCode,
          total: originaltotal,
        },
        success: function(response) {
          // Handle the successful response here
          console.log("Coupon applied successfully:", response);
          if (response.success) {
            couponApplied = true; // Set the couponApplied flag to true
            
            discount = originalTotal - response.total
            var checkbox = document.getElementById('spikes');
            // Update the displayed grand total with the discounted price
            var discountedPrice =  checkbox.checked ? response.total - {{ wallet.balance }} : response.total;
            grandTotalElement.textContent = '₹' + discountedPrice.toFixed(2);

            // Show messages in the hidden <p> element
            var copInfoElement = document.getElementById('cop_info');
            copInfoElement.textContent = "Coupon applied successfully!";
            copInfoElement.style.color = "green";
            copInfoElement.style.display = "block"; // Make the element visible
            var couponreduction = document.getElementById('couponreduction');
            couponreduction.innerHTML = `${discount}`
            $('#copdiv').removeClass('d-none');
            var hiddenInput = document.getElementById('couponcode');
            hiddenInput.value = couponCode;
            alert(`${couponCode} coupon applied! You will receive ${discount} Rupees in your order.`);

          } else if (response.failed) {
            // Show a message to the user that the coupon cannot be applied
            discount = 0
            alert(response.failed);
          } else {
            // Show a generic error message
            discount = 0
            alert("An error occurred while applying the coupon. Please try again later.");
          }
        },
        error: function(xhr, status, error) {
          // Handle errors here
          console.error("Error applying coupon:", error);
          // Show an error message to the user
          alert("An error occurred while applying the coupon. Please try again later.");
        }
      });
    });

    // Attach click event to the "Clear Coupon" button
    $("#clear-coupon-btn").on("click", function() {
      if (couponApplied) {
        discount = 0
        $('#copdiv').addClass('d-none');
        couponApplied = false; // Set the couponApplied flag to false
        updateGrandTotal(); // Update the grand total
        // Clear the coupon info message
        var copInfoElement = document.getElementById('cop_info');
        copInfoElement.textContent = "";
        copInfoElement.style.display = "none"; // Hide the element
        var couponreduction = document.getElementById('couponreduction');
            couponreduction.innerHTML = ` `
            var hiddenInput = document.getElementById('couponcode');
            hiddenInput.value = "";
      } else {
        // If no coupon is applied, show a message to the user
        alert("No coupon applied.");
      }
    });
  });

  // Define a global variable to store the original grand total
  var originalGrandTotal = parseFloat("{{ tax.total }}".replace("₹", ""));

  function updateGrandTotal() {
  
    // Get the checkbox and the grand total element
    var checkbox = document.getElementById('spikes');
    var grandTotalElement = document.getElementById('grand-total');
   

    // Calculate the discounted grand total if the coupon is applied
    var discountedGrandTotal = couponApplied ? originalGrandTotal-discount : originalGrandTotal;
    alert(discountedGrandTotal)
    // Calculate the updated grand total based on the checkbox status
    var updatedGrandTotal = checkbox.checked ? discountedGrandTotal - {{ wallet.balance }} : discountedGrandTotal;
    alert(updatedGrandTotal)
    // Update the displayed grand total
    grandTotalElement.textContent = '₹' + updatedGrandTotal.toFixed(2);
    checkbox.checked ? $('#spikediv').removeClass('d-none') : $('#spikediv').addClass('d-none');
 
    // Show an alert when the price has been reduced
    if (checkbox.checked) {
      alert("{{ wallet.balance }} Spikes will be used with this purchase, you will have a flat {{ wallet.balance }} off on this order");
    }
  }
</script>
<!-- Rest of your HTML content -->


      
      
    </section>
    <!-- / Main Section-->
    <form action="">
      {% csrf_token %}
    </form>


    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src="./assets/js/vendor.bundle.js"></script>
    
    <!-- Theme JS -->
    <script src="./assets/js/theme.bundle.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    // Get the payment options radio buttons
    const paymentOptions = document.querySelectorAll('input[name="checkoutPaymentMethod"]');
    const completeOrderBtn = document.getElementById('completeOrderBtnstripe');
    completeOrderBtn.id = 'completeOrderStripeBtn';
    
    // Add event listener to each payment option
    paymentOptions.forEach(option => {
      option.addEventListener('change', handlePaymentOptionChange);
    });
    
    // Call the handlePaymentOptionChange function to show the initial button
    handlePaymentOptionChange();

    // Function to handle payment option change
    function handlePaymentOptionChange() {
      const selectedOption = document.querySelector('input[name="checkoutPaymentMethod"]:checked').id;

      // Show or hide content based on the selected radio button
      if (selectedOption === 'checkoutPaymentStripe') {
        $('.card-details').removeClass('d-none');
        $('.paypal-details').addClass('d-none');
        $('.cod-details').addClass('d-none');

        $('#completeOrderBtnstripe').removeClass('d-none');
        $('#completeOrderBtncod').addClass('d-none');
        $('#rzp-button1').addClass('d-none');
        completeOrderBtn.id = 'completeOrderStripeBtn';
      } else if (selectedOption === 'checkoutPaymentPaypal') {
        $('.card-details').addClass('d-none');
        $('.paypal-details').removeClass('d-none');
        $('.cod-details').addClass('d-none');
        
        $('#completeOrderBtnstripe').addClass('d-none');
        $('#completeOrderBtncod').addClass('d-none');
        $('#rzp-button1').removeClass('d-none');
        completeOrderBtn.id = 'rzp-button1';
      } else if (selectedOption === 'checkoutPaymentcod') {
        $('.card-details').addClass('d-none');
        $('.paypal-details').addClass('d-none');
        $('.cod-details').removeClass('d-none');
        
        $('#completeOrderBtnstripe').addClass('d-none');
        $('#completeOrderBtncod').removeClass('d-none');
        $('#rzp-button1').addClass('d-none');
        completeOrderBtn.id = 'completeOrderCODBtn';
      }
    }
  });
</script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  document.getElementById('rzp-button1').onclick = function(e) {
    e.preventDefault();
    var checkbox = document.getElementById('spikes');
    var wallet = checkbox.checked ? true : false;
    var hiddenInput = document.getElementById('couponcode');
    var code = hiddenInput.value
    $.ajax({
      method: "get",
      url: "/payment/payment_details",
      data: {
        code : code,
        wallet: wallet,
      },
      success: function(response) {
        var total = parseInt(response.total) * 100;
        var name = response.name;
        var email = response.email;
        var phone = parseInt(response.phone);
        var order_id = response.order_number;
        var options = {
          "key": 'rzp_test_8Pb1f6KGthfeQt', // Enter the Key ID generated from the Dashboard
          "amount": total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "CACTUS", // Your business name
          "description": "Thank you for buying from us",
          "image": "",
          //"order_id": order_id,
          "handler": function(response_razor) {
            var token = $("[name='csrfmiddlewaretoken']").val();
            data = {
              "payment_mode": "razorpay",
              "payment_id": response_razor.razorpay_payment_id,
              "order_id": order_id,
              "status": "success",
              "spike_use":response.spike_use,
              "spike_discount" : response.spike_discount,
              "coupon_use" : response.coupon_use,
              "coupon_discount" : response.coupon_discount,
              "coupon_code" : response.coupon_code,
              csrfmiddlewaretoken: token,
            };
            console.log(response_razor.razorpay_payment_id)
            console.log(order_id)
            
            $.ajax({
              method: "post",
              url: "/payment/payment",
              data: data,
              success: function(response_success) {
                console.log("Payment success:", response_success);
                var orderNumber = response_success.order_number;
                var transactionID = response_success.transID;
                var orderData = {
                  payment_id: transactionID,
                  order_number: orderNumber,
                  csrfmiddlewaretoken: token
                };
                // Construct the redirect URL with parameters
                var redirectURL = '/payment/order-success?order_number=' + orderNumber + '&payment_id=' + transactionID;
                // Redirect the user to the URL
                window.location.href = redirectURL;
              },
              error: function(xhr, status, error) {
                console.error("Payment error:", error);
                // Handle the error case here
              }
            });
          },
          "prefill": { // We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
            "name": name, // Your customer's name
            "email": email,
            "contact": phone // Provide the customer's phone number for better conversion rates
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function(response) {
          alert(response.error.code);
          alert(response.error.description);
          alert(response.error.source);
          alert(response.error.step);
          alert(response.error.reason);
          alert(response.error.metadata.order_id);
          alert(response.error.metadata.payment_id);
        });
        rzp1.open();
      }
    });
  };
</script>


<script>
  document.getElementById('completeOrderBtncod').onclick = function(e) {
    e.preventDefault();
    var checkbox = document.getElementById('spikes');
    let checkState = $(checkbox).is(":checked") ? "true" : "false";
    console.log(checkState);
    var wallet = checkbox.checked ? true : false;
    console.log(wallet);
    var hiddenInput = document.getElementById('couponcode');
    var code = hiddenInput.value
    $.ajax({
      method: "get",
      url: "/payment/payment_details",
      data: {
        code: code,
        wallet: wallet,
      },
      success: function(response) {
        var token = $("[name='csrfmiddlewaretoken']").val();
        data = {
          "payment_mode": "cod",
          "payment_id":response.order_number ,
          "order_id": response.order_number,
          "status": "pending",
          "spike_use": response.spike_use,
          "spike_discount": response.spike_discount,
          "coupon_use": response.coupon_use,
          "coupon_discount": response.coupon_discount,
          "coupon_code": response.coupon_code,
          csrfmiddlewaretoken: token,
        };

        $.ajax({
          method: "post",
          url: "/payment/payment",
          data: data,
          success: function(response_success) {
            console.log("Payment success:", response_success);
            var orderNumber = response_success.order_number;
            var transactionID = response_success.transID;
            var orderData = {
              payment_id: transactionID,
              order_number: orderNumber,
              csrfmiddlewaretoken: token
            };
            // Construct the redirect URL with parameters
            var redirectURL = '/payment/order-success?order_number=' + orderNumber + '&payment_id=' + transactionID;
            // Redirect the user to the URL
            window.location.href = redirectURL;
          },
          error: function(xhr, status, error) {
            console.error("Payment error:", error);
            // Handle the error case here
          }
        });
      }
    });
  };
</script>


<script>
  document.getElementById('rzp-ff').onclick = function(e) {
    e.preventDefault();
    var checkbox = document.getElementById('spikes');
    let checkState = $(checkbox).is(":checked") ? "true" : "false";
    console.log(checkState);
    var wallet = checkbox.checked ? true : false;
    console.log(wallet);
    alert(wallet)
    var hiddenInput = document.getElementById('couponcode');
    var code = hiddenInput.value
    console.log(wallet)
    $.ajax({
      method: "get",
      url: "/payment/payment_details",
      data: {
        code: code,
        wallet: wallet,
      },
     alert(wallet)
      success: function(response) {
        var total = parseInt(response.total) * 100;
        var name = response.name;
        var email = response.email;
        var phone = parseInt(response.phone);
        var order_id = response.order_number;
        var options = {
          "key": 'rzp_test_8Pb1f6KGthfeQt', // Enter the Key ID generated from the Dashboard
          "amount": total, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
          "currency": "INR",
          "name": "CACTUS", // Your business name
          "description": "Thank you for buying from us",
          "image": "",
          //"order_id": order_id,
          "handler": function(response_razor) {
            var token = $("[name='csrfmiddlewaretoken']").val();
            data = {
              "payment_mode": "razorpay",
              "payment_id": response_razor.razorpay_payment_id,
              "order_id": order_id,
              "status": "success",
              csrfmiddlewaretoken: token
            };
            console.log(response_razor.razorpay_payment_id)
            console.log(order_id)
            
            $.ajax({
              method: "post",
              url: "/payment/payment",
              data: data,
              success: function(response_success) {
                console.log("Payment success:", response_success);
                var orderNumber = response_success.order_number;
                var transactionID = response_success.transID;
                var orderData = {
                  payment_id: transactionID,
                  order_number: orderNumber,
                  csrfmiddlewaretoken: token
                };
                // Construct the redirect URL with parameters
                var redirectURL = '/payment/order-success?order_number=' + orderNumber + '&payment_id=' + transactionID;
                // Redirect the user to the URL
                window.location.href = redirectURL;
              },
              error: function(xhr, status, error) {
                console.error("Payment error:", error);
                // Handle the error case here
              }
            });
          },
          "prefill": { // We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
            "name": name, // Your customer's name
            "email": email,
            "contact": phone // Provide the customer's phone number for better conversion rates
          },
          "notes": {
            "address": "Razorpay Corporate Office"
          },
          "theme": {
            "color": "#3399cc"
          }
        };
        var rzp1 = new Razorpay(options);
        rzp1.on('payment.failed', function(response) {
          alert(response.error.code);
          alert(response.error.description);
          alert(response.error.source);
          alert(response.error.step);
          alert(response.error.reason);
          alert(response.error.metadata.order_id);
          alert(response.error.metadata.payment_id);
        });
        rzp1.open();
      }
    });
  };
</script>
  
  

    <script src="https://cdn.jsdelivr.net/gh/kushalcodes/captcha-gen-js@d606858041d81dfe67fc64d78f35c81cfcc05bcb/min/captcha-gen.min.js"></script>
  
</body>

</html>




